.sectionBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-bottom: 6rem;

    .geralBottom {
        display: flex;
        flex-direction: row;

        align-items: center;
        justify-content: center;

        gap: 7rem;
    }


    div {
        display: flex;
        flex-direction: column;
        gap: 0.8;

        width: 37rem;

        cursor: pointer;

        p {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 1.9rem;

            color: black;
        }

        h1 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 3.6rem;

            color: #290742;
        }

        span {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2.4rem;
            
            color: #000000;
        }
    }
}