
:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;

  font-size: 62.5%;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    font-style: normal;
    font-size: 1.6rem;
    overflow: overlay;

    background: white;
}
